---
import Container from "./Container.astro";
---

<div id="blog">
  <Container>
    <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">
        Dependientes Funcionalmente
      </h2>
      <!-- <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
          Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt, debitis dolorum officia
          aliquid explicabo? Excepturi, voluptate?
        </p> -->
    </div>
    <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-2">
      <div
        class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Servicio Departamental de Autonomías La Paz (SEDALP)
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Dirigir el proceso cíclico de planificación, formulación,
            seguimiento y evaluación de planes sectoriales, políticas y
            estrategias para el desarrollo del Departamento de La Paz en el
            marco de la normativa vigente.
          </p>
          <a class="inline-block" href="#">
            <span class="text-primary dark:text-blue-300"
              >Más Información...</span
            >
          </a>
        </div>
      </div>
      <div
        class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10"
      >
        <div class="relative overflow-hidden rounded-xl">
          <img
            src="https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover"
            loading="lazy"
            width="1000"
            height="667"
            class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"
          />
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Instituto Departamental de Estadística La Paz (IDELP)
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Realizar el seguimiento y evaluación de la gestión de todas las
            unidades organizacionales y entidades desconcentradas del Gobierno
            Autónomo Departamental de La Paz, siguiendo el cumplimiento efectivo
            delas acciones a corto plazo y metas plasmadas en el Plan Operativo
            Anual.
          </p>
          <a class="inline-block" href="#">
            <span class="text-primary dark:text-blue-300"
              >Más información...</span
            >
          </a>
        </div>
      </div>
      
    </div>
  </Container>
</div>
