---
import Container from "./Container.astro";
---

<div class="relative" id="home">
  <div
    aria-hidden="true"
    class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20"
  >
    <div
      class="blur-[106px] h-56 bg-gradient-to-br from-primary to-secondary dark:from-blue-700"
    >
    </div>
    <div
      class="blur-[106px] h-32 bg-gradient-to-r from-secondary to-primary dark:to-indigo-600"
    >
    </div>
  </div>
  <Container>
    <div class="relative pt-36 ml-auto">
      <div class="lg:w-2/3 text-center mx-auto">
        <h1
          class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl"
        >
          Secretaría Departamental de Planificación<span
            class="text-secondary dark:text-white"
          >
            del desarrollo</span
          >
        </h1>
        <p class="mt-8 text-gray-700 dark:text-gray-300">
          Nuestro objetivo es promover el desarrollo del Departamento de La Paz,
          mediante la formulación, ejecución, seguimiento, y evaluación de
          planes en el corto, mediano y largo plazo, como instrumentos de
          gestión del Gobierno Autónomo Departamental de La Paz.
        </p>
        <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
          <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max"
          >
            <span class="relative text-base font-semibold text-white"
              >Contactanos</span
            >
          </a>
          <!-- <a
            href="#"
            class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-secondary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max"
          >
            <span
              class="relative text-base font-semibold text-secondary dark:text-white"
              >Learn more</span
            >
          </a> -->
        </div>
        <!-- <div
          class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-between"
        >
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Planificación estrategica territorial
            </h6>
            <p class="mt-2 text-gray-500">
              Dirigir el proceso cíclico de planificación, formulación,
              seguimiento y evaluación de planes sectoriales, políticas y
              estrategias para el desarrollo del Departamento de La Paz en el
              marco de la normativa vigente.
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Control de Gestión
            </h6>
            <p class="mt-2 text-gray-500">
              Realizar el seguimiento y evaluación de la gestión de todas las
              unidades organizacionales y entidades desconcentradas del Gobierno
              Autónomo Departamental de La Paz, siguiendo el cumplimiento
              efectivo delas acciones a corto plazo y metas plasmadas en el Plan
              Operativo Anual.
            </p>
          </div>
          <div class="text-left">
            <h6 class="text-lg font-semibold text-gray-700 dark:text-white">
              Límites y organización territorial
            </h6>
            <p class="mt-2 text-gray-500">
              Promover la delimitación del Departamento de La Paz a través de
              procesos administrativosconciliatorios empleando normativa vigente
              y metodologías para la emisión de resoluciones en única instancia,
              en coordinación con el nivel central del estado y otras instancias
              especializadas en delimitación; así como también el resguardo de
              los límites interdepartamentales en la elaboración de propuestas
              técnico legales
            </p>
          </div>
        </div> -->
      </div>
      <!-- <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-6">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/microsoft.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/airbnb.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div
          class="p-4 flex grayscale transition duration-200 hover:grayscale-0"
        >
          <img
            src="./images/clients/google.svg"
            class="h-9 w-auto m-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/ge.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div
          class="p-4 flex grayscale transition duration-200 hover:grayscale-0"
        >
          <img
            src="./images/clients/netflix.svg"
            class="h-8 w-auto m-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <img
            src="./images/clients/google-cloud.svg"
            class="h-12 w-auto mx-auto"
            loading="lazy"
            alt="client logo"
            width=""
            height=""
          />
        </div>
      </div> -->
    </div>
  </Container>
</div>
